.share {
  right:0;
  bottom:0;
  position:fixed;
  width: 55px;
  height: 55px;  
  box-shadow: 0px 3px 9px rgba(0, 0, 0, .5);
  border-radius: 50px;
  transform: translate(-15%, -15%);
}

.share:hover {
  cursor: pointer;
}

.one {    
  right: -16px;
  bottom: 11px;
  position:fixed;  
  transform: translate(-20%, -9%);   
}

#ifr1{
  width: 360px; 
  height: 524px;   
  background-color: rgba(255, 255, 255, 0); 
  opacity: 0;
  border: 1px solid rgba(255, 255, 255, 0);
}



#msgPrincipal{  
  top: -17px;
  position: absolute;
  width: 297px;    
  padding: 10px;  
  border-bottom: 1px solid rgba(105, 107, 105, 0.281);
  padding-top: 20px;
  background-color: #fcfcfc;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}

#imgMsgPrincipal{
  width: 40px;
  height: 60px;
  float: left;
  margin-right: 8px;
  margin-top: 4px;
}

#txtMsgPrincipal{
  line-height : 25px;  
  font-family:'Homer Simpson UI';  
  font-weight: 500;  
}

#btnCerrar{
  position: fixed;
  width: 315px;
  height: 30px;
  top: -20px;
  text-align: right;  
  background-color: rgba(255, 255, 255, 0);
  
}

#botonMin{    
  cursor: pointer;
  border-radius: 10px;
  position: fixed;
  width: 15px;
  height: 15px;
  right: 35px;
  top: 12px;
  padding-left: 2px;
  padding-bottom: 2px;
  color: white;  
  display: none;
}

#botonCerrar:hover{
  background-color: #017b1b;
}



#btnCerrar i{
  margin-top: 6px;
  margin-right: 6px;
  padding-right: 2px;
  cursor: pointer;
  transition: 300ms all;
  border-radius: 100px;
  width: 15px;
  height: 18px;    
}

#btnCerrar i:hover{
  background-color: #dfd3d3;  
}



/*modal*/
.modal{
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.8);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  animation: modal 2s 2s forwards;  
  visibility: hidden;
  opacity: 0;
  
}


.cuerpoPortalesChec{
  margin: auto;
  border-radius: 10px;
  
}

#cerrar{
  display: none;
}

#cerrar + label{
  position: fixed;
  text-align: center;
  color: #ffff;
  font-size: 25px;
  z-index: 50;
  background: darkred;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  right: 10px;
  cursor: pointer;
  animation: modal 2s 2s forwards;
  visibility: hidden;
  opacity: 0;
}

@keyframes modal{
  100%{
    visibility: visible;
    opacity: 1;
  }
}


.messages-headline {
  border: 1px solid red;
}

#cabecera{      
  position: fixed;
  width: 330px;        
  height: 61px;   
}

/*modal*/